@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	-webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
}

#login {
    display: block;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right:0;
    background-color: rgba(0,0,0,0.2);
}



.login {
    background-color: #fff;
    padding:20px;
    width:280px;
    margin: 20px auto;
    border:solid 1px #ccc;
}
div.login input {
    margin-left: 0;    
    width:100%;
}

#login.loading {
    display: none;
}

.sright, .sleft,.sup,.sdown {
        
         opacity:1;
    }


    .loading .sright, .loading .sleft,.loading .sup, .loading .sdown {
        opacity:0;
    }   
    
    .loading .sdown {
        -webkit-transform: translate(0px,-200px);
        -moz-transform: translate(0px,-200px);
        -o-transform: translate(0px,-200px);
        -ms-transform: translate(0px,-200px);
    }   

    .loading .sup {
    -webkit-transform: translate(0px,200px);
        -moz-transform: translate(0px,200px);
        -o-transform: translate(0px,200px);
        -ms-transform: translate(0px,200px);
    }   
    .loading .sleft {
        -webkit-transform: translate(-200px,0px);
        -moz-transform: translate(-200px,0px);
        -o-transform: translate(-200px,0px);
        -ms-transform: translate(-200px,0px);
    }   

    .loading .sright {
    -webkit-transform: translate(200px,0px);
        -moz-transform: translate(200px,0px);
        -o-transform: translate(200px,0px);
        -ms-transform: translate(200px,0px);
    }   
}


html {
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100%;
}
.black {
    background: #000;

}
.debug {
    background-color: #000;
    color:#fff;
    font-size: 12px;
    padding:10px;
    border-radius: 3px;
    margin:2px;    
    max-height: 120px;
    overflow: auto;
}
h1 {
	font-weight: 300;
	color: #FFF;
	margin: 0;
}
.wrapper {
	max-width: 100%;
	border-radius: 6px 6px 0 0;
	background: #FFF;
	min-height: 100%;
	margin-bottom: 6px;
}
.content {
	padding-bottom: 50px;
}
.header {
	position: relative;
	min-height: 85px;
}
input[type=text], input[type=password] {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background: #FFF;
	border: 0;
	height: 45px;
	width: 80%;
	margin-left: 10px;
	border: 1px solid #e5d4c2;
	padding: 10px;
	display: block;
}
textarea {
	width: 100%;
	padding: 10px;
    -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	min-height: 100px;
}
label {
	font-weight: 400;
	font-size: 16px;
	display: block;
}

.footer {
	background: #000;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.innerfoot {
	height: 60px;
	padding: 10px;
	width: 100%;
	background: #f8f3f0;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	
}
.left {
	width: 47%;
	float: left;
}
.right {
	float: right;
	width: 47%;
}
img.loading {
    opacity: 0.5;
}
img.loading:after {
    position: absolute;
    display:block;
    content: 'Laddar upp bilden...';
    background-color: rgba(0,0,0,0.6);
    color:#fff;
    top:10px;
    left:10px;
}
img.error:after {
    position: absolute;
    display:block;
    content: 'Kunde inte ladda upp bilden';
    background-color: rgba(255,0,0,0.6);
    color:#fff;
    top:10px;
    left:10px;
}
.media {
	background: #4daf7c;
	border: 1px solid #4daf7c;
	min-height: 35px;
}
.error {
	background: #e15230;
	border: 1px solid #c43515;
}
div.loading {
    background: #ccc;
	border: 1px solid #BBB;
}
div.loading span:before {
	content: " ";
	background: url(../img/loading.gif) left center no-repeat;
	width: 15px;
	height: 15px;
	display: block;
	float: left;
	margin-top: 3px;
}
.button {
	text-align: center;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 8px 10px;
	-webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.40);
	-moz-box-shadow:    inset 0px 1px 0px rgba(255, 255, 255, 0.40);
	box-shadow:         inset 0px 1px 0px rgba(255, 255, 255, 0.40);
	font-size: 14px;
}
.publish {
	border: 1px solid #c54a28;
	background: #ea704b; /* Old browsers */
	background: -moz-linear-gradient(top, #ea704b 0%, #e45e39 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea704b), color-stop(100%,#e45e39)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ea704b 0%,#e45e39 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ea704b 0%,#e45e39 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ea704b 0%,#e45e39 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ea704b 0%,#e45e39 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea704b', endColorstr='#e45e39',GradientType=0 ); /* IE6-9 */
}
.publish span:before {
	content: " ";
	background: url(../img/arrow.png) left center no-repeat;
	width: 15px;
	height: 15px;
	display: block;
	float: left;
	margin-top: 3px;
}
span.file{
	background: url(../img/upload-cloud.png) left center no-repeat;
	width: 50%;
	height: 15px;
	display: block;
	float: left;
	margin-top: 2px;
}
span.camera{
	background: url(../img/camera.png) right center no-repeat;
	width: 50%;
	height: 15px;
	display: block;
	float: right;
	margin-top: 2px;
	border-left: 1px solid #8ad9b0;
}
#hasgeo {
	width: 15%;
	float: right;
}

#hasgeo span {
	background: url(../img/flag.png) left center no-repeat;
	width: 30px;
	height: 30px;
	display: block;
	margin-top: 3px;
}

.inputwrap {
	background: #EEE;
	border-left: 3px solid #4daf7c;
	padding: 10px 0;
	margin-bottom: 10px;
}

.arrow_box { position: absolute; background: #4daf7c; width: auto; float: left; padding: 10px; left: 10px; top: 10px; min-width: 150px; text-align: center; } 
.arrow_box:after { top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; } 
.arrow_box:after { border-color: rgba(77, 175, 124, 0); border-top-color: #4daf7c; border-width: 30px; left: 30%; margin-left: -30px; }

/* portrait */
@media screen and (orientation:portrait) {
  .innerfoot {
	width: 100%;
	}
}
/* landscape */
@media screen and (orientation:landscape) {
  /* landscape-specific styles */
  .innerfoot {
	width: 100%;
	}
}
